<?xml version="1.0"?>
<configuration>
    <configSections>
    
    </configSections>
  <appSettings>
    <add key="UpdateCheck" value="5"/>
    <add key="LastCheckDay" value="01-Sep-2013"/>
  </appSettings>

<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
